language: node_js
node_js:
- stable
- '5'
- '5.1'
env:
  matrix:
  - CXX=g++-4.8
  global:
    secure: QTOPXT57VW/C2R/Md0ucRWwx+mGw25Ff31oSJ+2oLJzrjUj4Ab/xFVXfgW7lzzng6iZizGAIMbzcgE+952p1iVkITppwpJUf6RvMm7X0H67AiBju7RJ6PYnO8YfjH8Qs7BL7p+w0TOQ6IIGNpk1BP3C9eIXfn7E58RxnFgUoDkGe+qd6TrwHvye/QdSUogYmnyRSkcdkLFyQwq+4861iWHFkM6WhX8bGMCZkgXRR3ZKOXgw/GwOMHllLctVGAVXjfZUtW5TUF1AplJjUUT4bCJ6sauZYacSZTl59+MvLcJqGw4c7JQeBc0f4FqitaqjK9kGm//Br4RPU+9QMmsFN8f7kFC8cNvc8l+CYqoFuy0ejFQjo6STmx6TEMmaYUZud7KxckAkMSmuRo3mdduly9A321oz81PrM0q5SpO15FqUh02n3mpK+0+r78nB9lRJvznH3hQrBTmZ++AhQj+VceuQ9gDRL87O7OgA/qFdx5IcBlf09368dkP60CHjRipYJfnIseIVMXFX0cbR14mZgChdX867nGPsw/6TMHtCHdJMFR27x8fQVDFDFP9oVzqbPfAVGIrSdUo90pp5MHKca1dNnB8/zrnxPZIGs+pwKUzoOSZ1xZLqlANLJsYeVbqOML9iGA0gTxRtBe8q8D/+qkOt/oAeNmjFcf1eZqqkRQHg=
before_script:
- npm install -g gulp codecov codeclimate-test-reporter
script: gulp build
after_success:
- git config --global user.email "github@phearzero.com"
- git config --global user.name "Michael Feher"
- codeclimate-test-reporter < ./coverage/lcov.info
- codecov
- gulp publish
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
  code_climate:
          repo_token: c8f39fc1633c2876780978746b36de950110909175abf6c6fd7619671b21b923
deploy:
  provider: npm
  email: npm@phearzero.com
  api_key:
    secure: L1PNxNnwFlMbBjtoypRCDjmbICnXzQRR+Oty6rQIlSR+R2BosUo+Nckh0gd5Go0qGmJQC/i8KHukqrdGNEGkDgKWs2z8mLtqjt3rCUNP+I3xVyPEKFw78j2O308Uyn/dBdJJwW8R1djWzNmvc3Pu8hif+hQmEKTjH40Ixt209x+jVjxKZKdxWKFsB34Iz8FfHnkl/gjdO/cMt6eJg2nUWIEGkGRlXmbLxl6YWe4+N919MW7pjdOdEzishP2mXONP93tJRymDY0171CVSKEqjNT+IXqt2PR3QgUNk0ZQ4KzBr1ZROGHwaLpjZoDnrW3kl/ePq+yWKnHS9z8LzBAg4fe3NkzLiiTuCNU8jHc4Qqe+YqcOju5betgJnwk8WhuP4EAVuXObpPwgRTo6Hi1ecQJLi1UAhG4b0rU1WKokJVewCAx0VSCayt6AUSB//2QzqdhBtJis3E9biHKQPnR3btUxJOAb2fHoaxqosEirLU7wa5jGWaOhD6woWk4zv5p+wCvV6v9Tvs5lUvxq94NWyuBMPP+xRLNtulynus7h4psVFMGGaLFnoh8p5RFPVZit515B/7TwaQuksd14Epd3HEAzgPLI8Kmv+FYBtUGCv9cuFUolX/OWEM9ESA+JPIrG4LFyA+qzybnjLJ6fHAvblkU0Hik7lhlVxc+EYvOxQjVc=
  on:
    tags: true
    repo: NodeJunkie/node-json-schema-class
